aside.inventory(v-cloak v-if="inventory.length > 0")
  .header Your Inventory
  .inner
    .item.animated.bounceInUp(v-for="item in inventory")
      a.toggle(v-on:click="foo(item)")
        .name {{item.name}}
        .desc(v-if="item.showDesc == true") {{item.desc}}
        