aside.store(v-cloak v-if="store.length > 0")
  .header Buy Upgrades
  .animated.zoomInDown(v-if="totalScore > (item.price * 0.9)" v-for="item,i in store" @click="buyItem(i,item)")
    a.item(v-bind:class="{ buyable: score >= item.price}")
      .name-and-desc
        .name {{item.name}}
        .desc {{item.desc}}
      .price {{item.price}}

  .score-hud(v-if="score > -1")
    span.label Score
    span.count(v-text="score")