<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="last-modified" content="2018-08-02@12:12:50">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Libre:300i,400,400i,700">
    <link href="css/sisyphus.css?lastUpdated=2018-08-02@12:12:50" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4e1412">
    <meta name="apple-mobile-web-app-title" content="PRETEND 🌐 WORLD">
    <meta name="application-name" content="PRETEND 🌐 WORLD">
    <meta name="msapplication-TileColor" content="#e6e1c5">
    <meta name="theme-color" content="#0d1021">
    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@AhoyLemon">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="/img/og-wide.jpg">
    <meta name="twitter:url" content="">
    <!-- OpenGraph-->
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="/img/og-wide.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">
    <meta property="og:email" content="lemon@thefpl.us">
  </head>
  <body>
    <div id="app">
      <main v-cloak>
        <div class="scene">
          <figure>
            <div class="hill"><a class="sisyphys" @click="sisyphusClick()" :style="{ bottom: s.bottom +'%', left: s.left+'%', width:s.width+'%', height:s.height+'%' }"></a>
              <div class="rock" :style="{ bottom:r.bottom+'%', left:rockLeft, width:rockWidth, height:rockHeight }" :class="{ falling: r.falling }"></div>
            </div>
          </figure>
          <figcaption v-text="message"></figcaption>
        </div>
      </main>
      <aside class="store" v-cloak v-if="store.length &gt; 0">
        <div class="header">Buy Upgrades</div>
        <div class="animated zoomInDown" v-if="score &gt; (item.price * 0.5)" v-for="item,i in store" @click="buyItem(i,item)"><a class="item" v-bind:class="{ buyable: score &gt;= item.price}">
            <div class="name">{{item.name}}</div>
            <div class="desc">{{item.desc}}</div>
            <div class="price">{{item.price}}</div></a></div>
        <div class="score-hud" v-if="score &gt; -1"><span class="label">Score</span><span class="count" v-text="score"></span></div>
      </aside>
      <aside class="inventory" v-cloak v-if="inventory.length &gt; 0">
        <div class="header">Your Inventory</div>
        <div class="inner">
          <div class="item animated bounceInUp" v-for="item in inventory">
            <div class="name">{{item.name}}</div>
            <div class="desc">{{item.desc}}</div>
            <div class="price">{{item.price}}</div>
          </div>
        </div>
      </aside>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script src="js/min/sisyphus.min.js"></script>
    </div>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "VideoGame",
        "name": "",
        "url": "",
        "image": "/img/og-image.png",
        "playMode": "SinglePlayer",
        "applicationCategory": "browser game",
        "gamePlatform": "web browser",
        "operatingSystem": "web browser",
        "genre": "guessing game",
        "description": "",
        "inLanguage": "English",
        "author": {
          "@type": "Person",
          "name": "Lemon",
          "url": "https://ahoylemon.xyz",
          "sameAs": [
            "https://thefpl.us/meet/lemon",
            "https://twitter.com/AhoyLemon"
          ]
        },
        "publisher": {
          "@type": "PerformingGroup",
          "name": "The F Plus",
          "url": "https://thefpl.us"
        },
        "offers": {
          "@type": "Offer",
          "description": "free",
          "price": "0",
          "priceCurrency": "USD"
        },
        "screenshot": [
          {
            "@type": "ImageObject",
            "url": "/img/screenshots/1.jpg",
            "width": "1200",
            "height": "650"
          },
          {
            "@type": "ImageObject",
            "url": "/img/screenshots/2.jpg",
            "width": "1200",
            "height": "650"
          },
          {
            "@type": "ImageObject",
            "url": "/img/screenshots/3.jpg",
            "width": "980",
            "height": "980"
          },
          {
            "@type": "ImageObject",
            "url": "/img/screenshots/ss4.jpg",
            "width": "980",
            "height": "980"
          }
        ]
      }
    </script>
  </body>
</html>