aside.inventory { @include position(fixed,0,null,0,0); width:calc(25% - 15px); z-index: 2; overflow: hidden;
  .header { @extend %asideHead; padding:2rem; }
  .item { @extend %item; background: linear-gradient(to bottom, #00b4db, #0083b0); }

  .inner { @include position(absolute,60px,-17px,0,0); padding:2rem; overflow-y: scroll; }

}