main.moved { color:#f9ca77; text-align: center;  padding-top:20vh; align-items: unset;
  h1 { color:#ed6f4b; font-size:clamp(24px,160px,8vw); font-family: 'Eczar', serif; margin-bottom: 0.5em;}
  p { color: #f5ede0; font-size:clamp(16px,46px,3.5vw); }
  a { color: #f9ca77; }
}