- var testing = true
- var siteTitle = ""
- var siteURL = ""
- var fPlusURL = false
- var description = ""
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body

    #app
    
      main(v-cloak)
        .scene
          figure
            .hill
              a.sisyphys(@click="sisyphusClick()" :style="{ bottom: s.bottom +'%', left: s.left+'%', width:s.width+'%', height:s.height+'%' }")
              .rock(:style="{ bottom:r.bottom+'%', left:rockLeft, width:rockWidth, height:rockHeight }" :class="{ falling: r.falling }" )
          figcaption(v-text="message")

      include partials/_store.pug
      include partials/_inventory.pug
      //-include partials/_banner.pug

    include partials/_javascripts.pug
    include partials/_schema.pug