- var testing = true
- var siteTitle = ""
- var siteURL = ""
- var fPlusURL = false
- var description = ""
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body

    #app

      aside.inventory(v-cloak v-if="inventory.length > 0")
        .header Your Inventory

        .item(v-for="item in inventory")
          .name {{item.name}}
          .desc {{item.desc}}
          .price {{item.price}}

      main(v-cloak)
        .scene
          figure
            .hill
              a.sisyphys(@click="sisyphusClick()" :style="{ bottom: s.bottom +'%', left: s.left+'%', width:s.width+'%', height:s.height+'%' }")
              .rock(:style="{ bottom:r.bottom+'%', left:rockLeft}" :class="{ falling: r.falling }" )
          figcaption(v-text="message")

      
      aside.store(v-cloak v-if="store.length > 0")
        .header Buy Upgrades
        a.item(v-for="item,i in store" @click="buyItem(i,item.id)")
          .name {{item.name}}
          .desc {{item.desc}}
          .price {{item.price}}

      //-include partials/_banner.pug

    include partials/_javascripts.pug
    include partials/_schema.pug